@font-face {
font-family: 'Open_Sans';
src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
font-weight: 700;
}
@font-face {
font-family: 'Open_Sans';
src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
font-weight: 400;
}
@font-face {
font-family: 'Teko';
src: url(../fonts/Teko/Teko-Bold.ttf);
font-weight: 700;
}
@font-face {
font-family: 'Teko';
src: url(../fonts/Teko/Teko-Regular.ttf);
font-weight: 400;
}




@font-face {
font-family: 'FontAwesome';
src: url(../icon/webfonts/fa-regular-400.woff2);
font-weight: 400;
}
.far{
    font-family: 'FontAwesome';
    font-weight: 400;
    font-style: normal;
}